# Application
UUID_NAMESPACE="your-uuid-namespace"
INTERNAL_API_BASE=http://la-backend:2010

# AI Providers
GEMINI_API_KEY="your-gemini-api-key" # Optional
OPENAI_API_KEY="your-openai-api-key"

SEED_FORCE=false # skip prod_dataset reupload

# LangSmith / LangChain (Optional)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="your-langsmith-api-key"
LANGCHAIN_PROJECT="your-project-name"

# Authentication / Security
SUPABASE_JWT_SECRET="your-supabase-jwt-secret"
AUTH_JWT_SECRET="your-random-auth-secret"

NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key