# ----- Redis -----
redis==5.0.8
orjson==3.10.7

# ----- Qdrant Service Dependencies -----
qdrant-client>=1.8.0

# ----- Elastic Search Dependencies -----
elasticsearch==8.17.2

# ----- MongoDB Dependencies -----
pymongo==4.0.1
pymongo[srv]

# ----- Agents -----
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.61
langchain-openai==0.3.18
langchain-huggingface==0.1.2
langgraph==0.4.5
tavily-python==0.7.2

# ----- App -----
fastapi==0.115.9
uvicorn==0.34.2

# ----- Basic -----
python-dotenv==1.1.0

# ----- Others -----
pypdf==4.2.0
bcrypt
pytz
ipython
sentence-transformers
cryptography
pydantic==2.9.2
pydantic-settings>=2
SQLAlchemy==2.0.35
psycopg[binary]==3.2.1
openai>=1.40.0