# Torch & Transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers==4.41.2
tokenizers==0.19.1
sentence-transformers==2.7.0

# Math & Data
numpy==1.26.2
datasets==4.6.1

# Vector DB clients
chromadb==1.4.1
qdrant-client==1.16.1
weaviate-client==4.6.1
pymilvus==2.6.9
pymongo==4.0.1
redis==5.0.8

# Web / API
fastapi==0.122.0
uvicorn==0.38.0
locust==2.43.3

# LangChain
langchain==0.3.25
langchain-core==0.3.61
langchain-community==0.3.24
langchain-openai==0.3.18
langchain-huggingface==0.1.2
langgraph==0.4.5

# Utilities
tavily-python==0.7.2
python-dotenv==1.1.0
pypdf==4.2.0
bcrypt==4.3.0
cryptography==45.0.3
pytz==2025.2